@import 'Commun.scss';
@import "Variables.scss";

.slider{
  width:100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .textslide{
      position: absolute;
      right: 450px;
      bottom: 100px;
      width:100px;
      line-height:80px;

      h1{
        font-size:70px; /*TBD*/
        color: $white;
        text-shadow:0.5px 0.5px $shadowgrey;
      }    
  }

  .container-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      .dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin: 0 5px;
          background: $white;
        }

        .dot.active {
          background: $orange;
        }
    } 
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  opacity: 0;
  transform: translateX(50%); //eto 
  transition: all .5s ease;

  img{
    height: 100%;
  }
}

.current {
  opacity: 1;
  transform: translateX(0);
}

//flèche
.arrow{
  visibility: hidden;
  border: 2px solid $white;
  border-radius: 50%;
  background: transparent;
  color : $white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  top: 50%;

  &:hover{
  background: $white;
  color: $grey;
  }
}

.next{
  right: 1.5rem;
}

.prev{
  left: 1.5rem;
}

.contenue {
  position: absolute;
  top: 23rem;
  left: 5rem;
}
.slide img{
  width: 100%;
  height: 100%;
}


//Ecran mobile 
@include mediaXs{
  .slider{
    transform: translateY(75px);
    height:50vh;
    .textslide{
      right: 60px;
      bottom: 70px;
      width:100px;
      line-height:30px;
      h1{
        font-size:25px; /*TBD*/
      }    
    }
    .container-dots {
      bottom: 25px;
      left: 50%;
      .dot {
          width: 12px;
          height: 12px;
          margin: 0 5px;
        }
    } 
  }
}

@include mediaSm{
  .slider{
    transform: translateY(55px);
    height:55vh;
    .textslide{
      right: 230px;
      bottom: 90px;
      width:100px;
      line-height:60px;
      h1{
        font-size:55px; /*TBD*/
      }    
    }
    .container-dots {
      bottom: 35px;
      left: 50%;
    } 
  }
}

//iPad Air
@include mediaMd{
  .slider{
    transform: translateY(50px);
    height:50vh;
    .textslide{
      right: 230px;
      bottom: 90px;
      width:100px;
      line-height:60px;
      h1{
        font-size:55px; /*TBD*/
      }    
    }
    .container-dots {
      bottom: 40px;
      left: 50%;
    } 
  }
}


//Responsive écran large
@include mediaXl{
  .slider{
    .textslide{
      position: absolute;
      right: 600px;
      bottom: 200px;
      width:100px;
      line-height:100px;
      h1{
        font-size:100px; /*TBD*/     
      }    
    }
    .container-dots{
      bottom:85px;
      .dot{
        width: 23px;
        height: 23px;
      }
    }
  }
}

@include mediaXxl{
  .slider{
    width:100%;
    height: $navSliderXxl;
    .textslide{
      position: absolute;
      right: 900px;
      bottom: 280px;
      width:100px;
      line-height:185px;
      h1{
        font-size:150px; /*TBD*/
      }    
    }
    .container-dots{
      bottom:125px;
      .dot{
        width: 30px;
        height: 30px;
      }
    }
  }
}






