@import 'Commun.scss';
@import "Variables.scss";


.sel{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; 
  background: $sectiongreybg;
  position:relative; 

  .box{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s ease-in-out;
    z-index: 99;
  
    span{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      //transform: rotate(calc(var(--i) * 60deg)) translateZ(400px);
      //-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);

      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover{
          transform:scale(1.09);
        }

        &:hover .fileName{
          display: block;
        }
      }
    }
  }

  .leftD{
    position: absolute;
    left: 18%;
    color: $grey;
    font-size: 50px;
    transition: 0.3s ease-in-out;
  }

  .leftD::before{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 10px;
    padding-left: 10px;
    cursor: pointer;
  }

  .leftD:hover, .rightD:hover{
    background: rgba(128,128,128,0.5);
  }

  .rightD{
    position: absolute;
    right: 18%;
    color: $grey;
    font-size: 48px;
    transition: 0.3s ease-in-out;
  }

  .rightD::before {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .shadow{
    background: $btngrey;
    height:30px;
    border-radius: 50%;
    width:45%;
    margin:auto;
    position:absolute;
    top: 61%;
    left: 0;
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
  }
}


/*
.documents{ //ou span
  &.current{
    .fileName{
      display: block;
    }
  }
}

.fileName{
  position:absolute; 
  top:100px;
  color: $orange;
  display:none;
}*/


//écran mobile
@include mediaXs{
  .sel{
    min-height: 30vh;
    .box{
      width:45px;
      height: 45px;
    }
  }
}

@include mediaSm{
  .sel{
    min-height: 30vh;
    .box{
      width:70px;
      height: 70px;
    }
  }
}

@include mediaMd{
  .sel{
    min-height: 25vh;
    .box{
      width:85px;
      height: 85px;
    }
  }
}

@include mediaXxl{
  .sel{
    min-height: 35vh;
    .box{
      width:170px;
      height: 170px;
    }
    .shadow{
      height:90px;
    }
  } 
}


